---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import { brandName, iconHref } from "@config/info.astro";

export interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | " + brandName
  : "Astroship - Starter Template for Astro with Tailwind CSS";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href={iconHref} />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: "@liarpzu",
        site: "@liarpzu",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `aaaaaaaaaa`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
    <!-- 添加结构化数据 -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "bulk-screenshot-downloader",
        "url": "https://bulkscreenshotdownload.com/",
        "description": "One-stop bulk screenshot download tool with support for one-click download and automatic naming. Helps you quickly organize large numbers of screenshot files.",
        "inLanguage": "en"
      }
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <div style="display: none;">
      <!-- add google tag code here -->
      <!-- Google tag (gtag.js) -->
      <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-LY42Y8BFDZ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-LY42Y8BFDZ");
      </script>
    </div>
  </body>
</html>
